<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a target="_blank" href='https://www.cryptokitties.co/kitty/{{kitty.id}}'>Kitty {{kitty.id}}</a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion *ngFor="let type of traitTypes">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{type.Label}}
          </mat-panel-title>
          <mat-panel-description>
              <mat-chip-list>
                <mat-chip color='warn' *ngFor="let trait of traits[type.Name]">{{trait.Name}}</mat-chip>
              </mat-chip-list>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let trait of traits[type.Name]">
            <h4 mat-line>{{trait.Position}}:{{trait.Name}}</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button target="_blank" href="https://www.cryptokitties.co/kitty/{{kitty.id}}">VIEW ON SITE</a>
    <a mat-button target="_blank" href="https://kittycalc.co/read/?k1={{kitty.id}}&amp;k2=0">KITTYCALC</a>
    <a mat-button target="_blank" href="https://cryptokittydex.com/kitties/{{kitty.id}}">KITTYDEX</a>
    <button mat-button (click)='closeDialog()'>CLOSE</button>
  </mat-card-actions>
</mat-card>