.kitty-box {
    margin-bottom: 20px;
    margin-left: 5px;
}

.kitty-card {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 250px;
    min-width: 250px;
}

a:hover, a:focus {
    color:white;
    text-decoration:  none;
}

.search-bar-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.spinner {
    margin: 0px auto;
}
.footer-center {
    text-align: center;
    padding-bottom: 20px;
}
