.search-form {
  min-width: 150px;
  width: 100%;
}
.mat-form-field-underline  {
  color:black !important;
}
.search-full-width {
  width: 100%;
}

.search-input {
  width: 100%;
}
.search-input-icon {
  height: 30px;
}

