<mat-card class="about-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>CK WALLET BOTS</mat-card-title>
    <mat-card-subtitle>powered by ckwallet-core</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      CK wallet bots are provided without any warranty, use on your own risks.
      Applications and souce code can be used free of charge under MIT licences
    </p>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Diane the Diamond Chaser
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Diane monitors newly release gen0 kitties for unknown traits and provides you opportunity to buy first. <a href='#' (click)='navigateBot($event, "diane")'>Go</a></p>
        <p></p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button target="_blank" href="https://github.com/hashkitty/ckwallet-core">VIEW ON GITHUB</a>
  </mat-card-actions>
</mat-card>